<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 class="text text-center" style="color: darkgoldenrod">Edit notice</h1>

<form action="#" th:action="@{/notices/update}" th:object="${notice}" method="post">
    <input type="hidden" th:field="*{noticeId}"><br>
    <div>
        <label>Заголовок:</label>
        <input type="text" th:field="*{title}" maxlength="45" placeholder="Введите заголовок" required><br>
        <input type="hidden" th:field="*{userId}"><br>
        <label>Имя:</label>
        <input type="text" th:field="*{personName}" placeholder="Введите имя" required><br>
        <label>Фамилия:</label>
        <input type="text" th:field="*{personSurname}" placeholder="Введите фамилию" required><br>
        <label>Возраст:</label>
        <input type="text" th:field="*{personAge}" maxlength="13" placeholder="Введите возраст" required><br>
        <label>Описание:</label>
        <textarea th:field="*{description}" placeholder="Введите описание" required></textarea><br>
        <label>Время выполнения:</label>
        <input type="text" th:field="*{executionTime}" placeholder="Введите время выполнения заявки" required><br>
        <label>Вознаграждение:</label>
        <input type="text" th:field="*{reward}" placeholder="Введите вознаграждение" required><br>
        <label>Статус:</label>
        <select th:field="*{personStatus}" required>
            <option value="missing">missing</option>
            <option value="criminal">criminal</option>
        </select><br>
        <input type="hidden" name="id_status" value="1" required><br>
        <input th:field="*{publicationDateTime}" type="datetime-local"/>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="submit" class="btn btn-secondary">Cancel</button>
    </div>
</form>
</body>
</html>