<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: #f8f9fa;">
<h1 class="text-center my-4" style="color: #007bff;">Edit User</h1>
<form action="#" th:action="@{/users/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <div class="container mt-4">
        <div class="card p-4 shadow-lg" style="background-color: lightblue;">
            <div class="form-group row">
                <input th:field="*{login}" type="hidden">
                <input th:field="*{password}" type="hidden">
                <label class="col-sm-4 col-form-label">Имя:</label>
                <input class="form-control col-sm-8" th:field="*{name}" type="text" required>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Фамилия:</label>
                <input class="form-control col-sm-8" th:field="*{surname}" type="text" required>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Телефон:</label>
                <input class="form-control col-sm-8" th:field="*{phone}" type="text" required>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Email:</label>
                <input class="form-control col-sm-8" th:field="*{email}" type="email" required>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Роль:</label>
                <select class="form-control col-sm-8" id="status" th:field="*{role}" required>
                    <option value="ADMIN" th:selected="${user.role == 'ADMIN'}">admin</option>
                    <option value="CLIENT" th:selected="${user.role  == 'CLIENT'}">client</option>
                </select>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary mx-2" style="background-color: #007bff;">Save</button>
    </div>
</form>
<form action="#" th:action="@{/users}" th:object="${user}" method="get">
    <button type="submit" class="btn btn-secondary mx-2" style="background-color: #6c757d;">Cancel</button>
</form>
</body>
</html>
