<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notices</title>
</head>
<body>
<h1 class="text text-center">Manage notices</h1>
<div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
</div>
<div th:switch="${noticeList}">
    <h2 th:case="null">No notices found!</h2>
    <div th:case="*">
        <h2>Заявки</h2>
        <table class="table table-bordered">
            <thead class="thead-lightgreen">
            <tr>
                <th>Заголовок</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Возраст</th>
                <th>Статус</th>
                <th>Описание</th>
                <th>Срок выполнения</th>
                <th>Вознаграждение</th>
                <th>Дата-время публикации</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="notice : ${noticeList}">
                <td th:text="${notice.noticeId}"></td>
                <td th:text="${notice.title}"></td>
                <td th:text="${notice.personName}"></td>
                <td th:text="${notice.personSurname}"></td>
                <td th:text="${notice.personAge}"></td>
                <td th:text="${notice.description}"></td>
                <td th:text="${notice.executionTime}"></td>
                <td th:text="${notice.reward}"></td>
                <td th:text="${notice.publicationDateTime}"></td>
                <td><a class="h4 mr-3" th:href="@{'/notices/edit/'+${notice.noticeId}}">Edit</a></td>
                <td><a class="h4" th:href="@{'/notices/delete/'+${notice.noticeId}}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a class="h4 mr-3" href="/notices/new">Create notice</a></p>
</div>
</body>
</html>